* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(36, 34, 34);
}

.disco {
  width: 400px;
  height: 400px;
  background-position: center;
  border-radius: 50%;
}

.meter.level1 {
  width: 4px;
  height: 200px;
  position: absolute;
  background-image: linear-gradient(red, green);
  animation: stage1 1s linear;
  transform: rotateZ(-80deg);
}

.meter.level2 {
  width: 4px;
  height: 200px;
  position: absolute;
  background-image: linear-gradient(red, green);
  animation: stage1 1s linear;
  transform: rotateZ(-30deg);
}

.meter.level3 {
  width: 4px;
  height: 200px;
  position: absolute;
  background-image: linear-gradient(red, green);
  animation: stage1 1s linear;
  transform: rotateZ(-0deg);
}

.meter.level4 {
  width: 4px;
  height: 200px;
  position: absolute;
  background-image: linear-gradient(red, green);
  animation: stage1 1s linear;
  transform: rotateZ(30deg);
}

/*
@keyframes stage1 {
  0% {
    transform: rotateZ(0deg);
  }
}
@keyframes stage2 {
  25% {
    transform: rotateZ(25deg);
  }
}

@keyframes stage3 {
  50% {
    transform: rotateZ(50deg);
  }
}

@keyframes stage4 {
  75% {
    transform: rotateZ(75deg);
  }
}
*/
