    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap');
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Noto Sans', sans-serif;
    }

    .container{
        max-width: 1280px;
        height: 100%; /*TESTE*/
        padding: 0 2%;
        margin: 0 auto;
    }

    .clear{clear:both}

    .logo{
        padding-top: 20px;
        color: white;
        float: left;
    }

    header{
        padding: 10px 0;
        height: 100%;
        background-image: url('../images/devs.crew.jpeg');
        background-position: center;
        background-size: cover;
        opacity: 0.8;
    }

    .layer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #0b012ae0;
        z-index: -1;
      }

    .head-content span{
        color: orangered;
    }

    .head-content{
        overflow-x: auto;
    }

    /* ----------------------Head-slide------------------------- */

    .arrows{
        position: absolute;
        left: 0;
        top: 50%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .arrows button{
        height: 100%;
    }

    .arrow-left,
    .arrow-right {
        font-size: 40px;
        width: 40px;
        color: #fff;
        transition: all 600ms ease-in-out;
        background: linear-gradient(to left, transparent 0%, black 200%);
        opacity: 0.1;
        cursor: pointer;
        border: none;
    }

    .arrow-left:hover,
    .arrow-right:hover {
        opacity: 1;
    }

    .arrow-right {
        right: 0;
        left: auto;
        text-align: right;
        background: linear-gradient(to right, transparent 0%, black 200%);
    }


    .container-slide {
        position: relative;
        padding: 15px;
        max-width: 640px;
        margin: 0 auto;
      }
      
    .gallery-wrapper {
        overflow-x: auto;
        height: 100%;
    }
    
    .gallery {
      display: flex;
      flex-flow: row nowrap;
      gap: 15px;
    }
    
    .item {
      width: 100%;
      flex-shrink: 0;
      transition: all 600ms ease-in-out;
      opacity: 0.5;
    }
      
    .current-item {
      opacity: 1;
    }
      
    .gallery-wrapper::-webkit-scrollbar {
      display: none;
    }
      
    .gallery-wrapper {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    /* ----------------------Head-slide-fim----------------------- */

    .mark{
        width: 100px;
        height: 7px;
        background-color: white;
        border-radius: 8px;
        margin-top: 50px;
    }

    nav.menu-desktop{
        float: right;
        padding-top: 20px;
    }

    nav.menu-desktop > ul{
        position: relative;
        top: 4px;
        list-style-type: none;
    }

    nav.menu-desktop > ul > li{
        position: relative;
        display: inline-block;
        font-size: 16px;
        margin: 0 15px;
    }

    nav.menu-desktop > ul > li:hover > ul.submenu-desktop{
        display: block;
    }

    nav.menu-desktop a{
        text-decoration: none;
        color: white;
    }

    ul.submenu-desktop{
        list-style-type: none;
        display: none;
        position: absolute;
        right: 0;
        top: 20px;
        width: 300px;
        padding: 8px 0;
        background: #2a2655;
    }

    ul.submenu-desktop li{
        padding: 8px;
        border-bottom: 1px solid white;
    }

    nav.menu-desktop a:hover{
        text-decoration: underline;
    }

    .head-content{
        height: 400px;
        margin-top: 200px;
    }

    header h1{
        font-size: 52px;
        color: white;
    }

    header p{
        margin-top: 80px;
        font-size: 22px;
        max-width: 900px;
        color: white;
    }

    /* ------------Menu-mobile-------------- */

    nav.menu-mobile{
        float: right;
        display: none;
    }

    nav.menu-mobile > ul{
        display: none;
        position: absolute;
        left: 0;
        top: 65px;
        border-top: #ccc;
        background: white;
        width: 100%;
        height: 200px;
        list-style-type: none;
        text-align: center;
    }

    nav.menu-mobile > ul > li{
        width: 100%;
        display: inline-block;
        padding: 25px 8px;
    }

    nav.menu-mobile a{
        text-decoration: none;
        color: #2a1854;
    }

    nav.menu-mobile > i{
        cursor: pointer;
        font-size: 25px;
        color: white;
    }

    /* -------------section-1---------------------- */

    .sessao-1{
        width: 100%;
        height: 980px;
    }

    .content-grid{
        column-count: 2;
        width: 100%;
        height: 800px;
        position: relative;
        top: 40px;
        padding-top: 8%;
    }

    .content-grid > div{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 18px;
        border-radius: 6px;
        padding-left: 20px;

        -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
        -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
        box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
    }

    .content-grid > .item1{
        margin-top: 0;
    }

    .content-grid div > i{
        float: left;
        font-size: 60px;
        color: #469a77;
    }

    .item-content{
        float: right;
        margin-left: 14px;
        max-width: 440px;
    }

    .item-content h2{
        margin-left: 8px;
    }

    .item-content p{
        padding: 0 2%;
    }

    /* --------------banner---------------------- */

    .banner{
        width: 100%;
        height: 200px;
        background-color: #281945;
        background-image: url('../images/business.jpg');
        background-position: center;
        background-size: cover;
    }

    .layer-ban {
        width: 100%;
        height: 100%;
        background: #0b012ae0;
      }

    .ban-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;
        height: 100%;
    }

    .ban-1 p{
        font-size: 36px;
        font-weight: bold;
        color: white;
    }

    .ban-1 span{
        color: #469a77;
    }
    
    .ban-1 span:last-child{
        color: orangered;
    }

    .ban-2 input{
        border: 0;
        width: 150px;
        height:40px;
        border-radius: 6px;
        color: white;
        background-color: orangered;
        margin-right: 8px;
    }

    .ban-2 input:first-child{
        background-color: #469a77;
    }

    /* --------------sessao-2---------------------- */

    .sessao-2{
        width: 100%;
        height: 970px;
        padding-top: 5%;
    }

    .title{
        width: 100%;
        text-align: center;
    }

    .title h4{
        color: orangered;
    }

    .about-wraper{
        width: 100%;
        height: 700px;
        display: flex;
    }

    .about-left{
        width: 70%;
        height: 500px;
        padding-top: 50px;
    }

    .about-left input{
        border: 0;
        width: 150px;
        height:50px;
        font-size: 18px;
        font-weight: bolder;
        border-radius: 6px;
        background-color: white;
        margin-right: 8px;

        -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
        -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
        box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
    }

    .about-left input:first-of-type{
        color: orangered;
    }

    table{
        width: 100%;
        padding-top: 40px;
    }

    table tr,td{
        padding-top: 60px;
        text-align: left;
    }

    td:first-of-type{
        color: #469a77;
        font-weight: bolder;
    }

    .about-right{
        padding: 40px 10px 0 10px;
        width: 30%;
    }

    .about-right p{
        padding: 25px 0;
        line-height: 26px;
    }

    .about-right input{
        border: 0;
        width: 150px;
        height:40px;
        border-radius: 6px;
        color: white;
        background-color: #469a77;
        margin-top: 12px;
        cursor: pointer;
    }

    /* -------------------sessao-3---------------- */

    .sessao-3{
        width: 100%;
        height: 700px;
        background-image: url('../images/form.bg.jpeg');
        background-size: cover;
        background-position: center;
    }

    .layer-form {
        width: 100%;
        height: 100%;
        background: #0b012ae0;
      }

    .form-wraper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-wraper img{
        width: 100%;
        max-width: 500px;
        position: relative;
        bottom: 5%;
    }

    .formulary h4{
        color: orangered;
    }

    .formulary h2{
        color: white;
        font-weight: bolder;
        font-size: 32px;
    }

    form{
        height: 500px;
        color: white;
        padding-top: 50px;
    }
    
    .formulary{
        padding: 10px;
    }

    form input{
        width: 100%;
        height: 32px;
        max-width: 600px;
        margin-bottom: 7%;
        border: 0;
        border-radius: 4px;
        background-color: #564b6b;
        color: white;
        padding: 7px;
    }

    form select{
        border: 0;
        width: 100%;
        height: 32px;
        background-color: #564b6b;
        color: white;
    }

    form input:last-child{
        border: 0;
        width: 150px;
        height: 40px;
        border-radius: 6px;
        color: white;
        background-color: orangered;
        margin-top: 50px;
        cursor: pointer;
    }

    /* ------------------sessao-4------------------ */

    section.sessao-4{
        width: 100%;
        height: 970px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .test-title {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .test-title h4{
        color: orangered;
    }

    /* ---------------testimonials-------------- */

    .container-sld {
        height: 500px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
        -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
        box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
    }
    
    .testimonial {
        position: relative;
        max-width: 900px;
        width: 100%;
        overflow: hidden;
    }
    
    .testimonial .image {
        height: 170px;
        width: 170px;
        object-fit: cover;
        border-radius: 50%;
    }
    
    .testimonial .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
    }
    
    .slide p {
        text-align: center;
        padding: 0 100px;
        font-size: 14px;
    }
    
    .slide .quote-icon {
        font-size: 30px;
        color: #469a77;
    }
    
    .slide .details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .details span.name {
        font-size: 20px;
        color: #333;
        font-weight: bolder;
    }
    
    .details.job {
        font-size: 12px;
        color: #333;
    }
    
    /* ------swiper button------ */
    
    .nav-btn {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        transform: translateY(20px);
        background-color: rgba(0, 0, 0, 0.1);
        transition: 0.2s;
    }
    
    .nav-btn:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    .nav-btn::after,
    .nav-btn::before {
        font-size: 20px;
        color: #fff;
    }
    
    .swiper-pagination-bullet {
        background-color: rgb(255, 98, 40);
    }
    
    .swiper-pagination-bullet .active{
        background-color: rgba(224, 143, 73, 0.8);
    }
    
    /* ----------------Footer---------------------------- */

    footer{
        width: 100%;
        background-color: #281945;
    }

    .ft-1{
        width: 100%;
        height: 240px;
        background-color: #2a1b49;
    }

    .ft-logos {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .ft-1 i{
        color: rgb(172, 172, 172);
        font-weight: bold;
        font-size: 24px;
        padding: 0 1%;
    }

    .ft-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 120px;
        background-color: #241442;
    }

    .ft-2 p{
        color: white;
        line-height: 25px;
    }

    .ft-2 span{
        color: orangered;
    }






    /* -----------------responsive----------------------- */

    @media screen and (max-width: 768px){
        nav.menu-desktop{display: none;}
        nav.menu-mobile{display: block;}

        .item h1{
            font-size: 42px;
        }

        .item p{
            font-size: 20px;
            padding-top: 4%;
        }

        .content-grid{
            display: flex;
            flex-direction: column;
            padding-top: 0;
        }

        .content-grid > div{
            height: 250px;
            margin: 0;
            padding: 5%;
        }

        .ban-wrap{
            display: block;
            padding: 25px;
        }

        .about-wraper{
            flex-direction: column;
        }

        .about-left {
            width: 100%;
        }

        table tr, td {
            padding-top: 50px;
        }

        .about-right {
            width: 100%;
            padding: 70px 70px 0 70px;
        }

        .about-right p {
            padding: 15px 0;
            line-height: 22px;
        }

        .about-right input {
            margin-top: 0;
        }

        /* Testimonials */

        .container-sld {
            width: 80%;
        }

        .slide p {
            padding: 0 30px;
        }
        
        .nav-btn {
            display: none;
        }

        /* Footer */

        .ft-1 i {
            font-size: 18px;
        }
       
    }

