    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap');
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Noto Sans', sans-serif;
    }

    .container{
        max-width: 1280px;
        padding: 0 2%;
        margin: 0 auto;
    }

    .clear{clear:both}

    .logo{
        padding-top: 20px;
        color: white;
        float: left;
    }

    header{
        padding: 10px 0;
        height: 970px;
        background-image: url('../images/devs.crew.jpeg');
        background-position: center;
        background-size: cover;
        opacity: 0.8;
    }

    .layer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #210b4ee3;
        z-index: -1;
      }

    .head-content span{
        color: orangered;
    }

    .mark{
        width: 100px;
        height: 7px;
        background-color: white;
        border-radius: 8px;
        margin-top: 50px;
    }

    nav.menu-desktop{
        float: right;
        padding-top: 20px;
    }

    nav.menu-desktop > ul{
        position: relative;
        top: 4px;
        list-style-type: none;
    }

    nav.menu-desktop > ul > li{
        position: relative;
        display: inline-block;
        font-size: 16px;
        margin: 0 15px;
    }

    nav.menu-desktop > ul > li:hover > ul.submenu-desktop{
        display: block;
    }

    nav.menu-desktop a{
        text-decoration: none;
        color: white;
    }

    ul.submenu-desktop{
        list-style-type: none;
        display: none;
        position: absolute;
        right: 0;
        top: 20px;
        width: 300px;
        padding: 8px 0;
        background: #2a2655;
    }

    ul.submenu-desktop li{
        padding: 8px;
        border-bottom: 1px solid white;
    }

    nav.menu-desktop a:hover{
        text-decoration: underline;
    }

    .arrows{
        position: absolute;
        display: flex;
        left: 0;
        top: 50%;
        width: 100%;
        justify-content: space-between;
    }

    .arrows i{
        cursor: pointer;
        font-size: 32px;
        padding: 25px;
        color: white;
        transition: 0.3s;
    }
    
    .arrows i:hover{
        background-color: rgba(0, 0, 0, 0.236);
        font-size: 40px;
    }

    .head-content{
        height: 400px;
        margin-top: 200px;
    }

    header h1{
        font-size: 52px;
        color: white;
    }

    header p{
        margin-top: 80px;
        font-size: 22px;
        max-width: 900px;
        color: white;
    }

    /* ------------Menu-mobile-------------- */

    nav.menu-mobile{
        float: right;
        display: none;
    }

    nav.menu-mobile > ul{
        display: none;
        position: absolute;
        left: 0;
        top: 65px;
        border-top: #ccc;
        background: white;
        width: 100%;
        height: 200px;
        list-style-type: none;
        text-align: center;
    }

    nav.menu-mobile > ul > li{
        width: 100%;
        display: inline-block;
        padding: 25px 8px;
    }

    nav.menu-mobile a{
        text-decoration: none;
        color: #2a1854;
    }

    nav.menu-mobile > i{
        cursor: pointer;
        font-size: 25px;
        color: white;
    }

    /* -------------section-1---------------------- */

    .sessao-1{
        width: 100%;
        height: 980px;
    }

    .content-grid{
        column-count: 2;
        width: 100%;
        height: 800px;
        position: relative;
        top: 40px;
        padding-top: 8%;
    }

    .content-grid > div{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 18px;
        border-radius: 6px;
        padding-left: 20px;

        -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
        -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
        box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.07);
    }

    .content-grid > .item1{
        margin-top: 0;
    }

    .content-grid div > i{
        float: left;
        font-size: 60px;
        color: #469a77;
    }

    .item-content{
        float: right;
        margin-left: 14px;
        max-width: 440px;
    }

    .item-content h2{
        margin-left: 8px;
    }

    .item-content p{
        padding: 0 2%;
    }

    /* --------------banner---------------------- */

    .banner{
        width: 100%;
        height: 200px;
        background-color: #281945;
        background-image: url('../images/business.jpg');
        background-position: center;
        background-size: cover;
    }

    .layer-ban {
        width: 100%;
        height: 100%;
        background: #180146d9;
      }

    .ban-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;
        height: 100%;
    }

    .ban-1 p{
        font-size: 36px;
        font-weight: bold;
        color: white;
    }

    .ban-1 span{
        color: #469a77;
    }
    
    .ban-1 span:last-child{
        color: orangered;
    }

    .ban-2 input{
        border: 0;
        width: 150px;
        height:40px;
        border-radius: 6px;
        color: white;
        background-color: orangered;
        margin-right: 8px;
    }

    .ban-2 input:first-child{
        background-color: #469a77;
    }

    /* -----------------res----------------------- */

    @media screen and (max-width: 768px){
        nav.menu-desktop{display: none;}
        nav.menu-mobile{display: block;}

        .content-grid{
            display: flex;
            flex-direction: column;
        }
    }

