@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

:root {
  --laranja: rgb(255, 78, 0);
  --laranja-fonte: rgb(255, 95, 25);
  --bg-color: rgb(47, 40, 56); /* Fonte também */
  --fonte-padrao: rgb(91, 89, 94);
  --verde: rgb(34, 202, 39);
}

/* ----------------------------Header-------------------------- */

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 95vh;
}

html,
body {
  width: 100%;
  background-color: var(--fonte-padrao);
}

aside {
  display: flex;
  background-color: rgb(243, 243, 243);
  width: 4vw;
  height: 100%;
  align-items: center;
}

.line {
  position: relative;
  top: -115px;
  width: 100%;
  height: 1.5px;
  background-color: var(--fonte-padrao);
  padding: 0 2%;
}

.container {
  display: flex;
  width: 100%;
}

.header-content h2.logo {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
  font-size: 2rem;
  padding: 1.5rem 0 0 7.5rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  width: 40%;
  height: 100%;
}

.chamada {
  position: relative;
  left: 0%;
}

.chamada h2 {
  font-weight: 700;
  font-size: 30px;
}

.chamada p {
  font-weight: bold;
  font-size: 50px;
}

.header-content button {
  width: 150px;
  height: 50px;
  background-color: var(--laranja);
  color: white;
  font-weight: 500;
  letter-spacing: 1.2px;
  border: 0;
  cursor: pointer;
  margin-top: 5%;
}

.header-content button:hover {
  background-color: var(--laranja-fonte);
}

.header-content2 {
  background-image: url("../img/prato-9.jpg");
  background-color: rgb(243, 243, 243);
  background-position: left;
  background-size: 95% 100%;
  background-repeat: no-repeat;
  width: 60%;
  height: 100%;
}

.header-content h2 span {
  color: var(--laranja-fonte);
}

ul {
  display: flex;
  width: 500px;
  margin: 0 auto;
  list-style-type: none;
}

ul li {
  padding: 30px;
}

ul li a {
  font-size: 20px;
  font-weight: bolder;
  color: var(--fonte-padrao);
  text-decoration: none;
  text-shadow: 2px 3px 9px black;
}

.social-media ul i {
  position: relative;
  top: 100px;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.social-media ul i:hover {
  color: var(--laranja-fonte);
}

/* ------------------section-about------------------------- */

section.about {
  width: 100%;
  height: 95vh;
  display: flex;
  background-color: rgb(243, 243, 243);
  align-items: center;
}

.abt-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  left: -7%;
  bottom: -5%;
}

.div-pic {
  width: 800px;
  height: 400px;
  background-image: url("../img/prato-8.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  top: -10%;
}

.div-abt {
  width: 800px;
  height: 400px;
  background-color: var(--bg-color);
  display: block;
}

.div-abt h2 {
  color: var(--laranja-fonte);
  padding: 40px 3% 0 400px;
}

.div-abt h1 {
  color: white;
  padding: 10px 2% 0 300px;
  font-size: 36px;
  letter-spacing: 2px;
}

.div-abt p {
  color: white;
  text-align: right;
  padding: 10px 6%;
  max-width: 600px;
}

.div-abt button {
  width: 150px;
  height: 50px;
  background-color: var(--laranja);
  color: white;
  font-weight: 500;
  letter-spacing: 1.2px;
  border: 0;
  cursor: pointer;
  margin: 10px 2% 0 410px;
}

.div-abt button:hover {
  background-color: var(--laranja-fonte);
}

.ball {
  width: 400px;
  height: 300px;
  background-image: linear-gradient(orange, var(--laranja));
  border-radius: 50%;
  position: relative;
  left: 5%;
  top: -220px;
  position: relative;
  bottom: -10%;
  z-index: 1;
}

footer {
  width: 100%;
  background-color: white;
  text-align: center;
}

/* ------------------- Menu ------------------------------ */

.menu-wraper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bg {
  display: block;
  width: 1400px;
  height: 800px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.menu-title {
  display: block;
  position: relative;
  top: 40px;
  width: 100%;
  height: 200px;
}

.menu-title h2 {
  font-size: 30px;
  padding: 4% 0 2% 0;
  color: var(--laranja-fonte);
}

.menu-title h1 {
  color: var(--fonte-padrao);
}

.menu-cnt {
  margin: 0 auto;
  margin-top: 70px;
  width: 90%;
  height: 70%;
  /* background-color: blanchedalmond; */
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;
}

.content1 {
  width: 100%;
  height: 100%;
  /* background-color: black; */
}

.content2 {
  width: 100%;
  height: 100%;
  /* background-color: rgb(73, 2, 2); */
}

.content3 {
  width: 100%;
  height: 100%;
  /* background-color: rgb(14, 29, 4); */
}

.content4 {
  width: 100%;
  height: 100%;
  /* background-color: rgb(11, 2, 59); */
}

.menu-cnt h2 {
  color: var(--laranja-fonte);
  font-weight: 800;
  padding: 10px 2% 0 30px;
}

.menu-cnt p {
  padding: 10px 2% 0 30px;
}

.menu-cnt span {
  color: rgb(187, 184, 184);
  padding: 10px 2% 0 30px;
}

/* =====================MEDIA-QUERIES====================== */
