@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

:root {
  --laranja: rgb(255, 78, 0);
  --laranja-fonte: rgb(255, 95, 25);
  --bg-color: rgb(47, 40, 56); /* Fonte também */
  --fonte-padrao: rgb(91, 89, 94);
  --verde: rgb(34, 202, 39);
}

/* ----------------------------Header-------------------------- */

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 95vh;
}

html,
body {
  width: 100%;
  background-color: var(--fonte-padrao);
  /* overflow-x: hidden; */
}

aside {
  display: flex;
  background-color: rgb(243, 243, 243);
  width: 4vw;
  height: 100%;
  align-items: center;
}

.line {
  position: relative;
  top: -167px;
  width: 100%;
  height: 1.5px;
  background-color: var(--fonte-padrao);
  padding: 0 2%;
}

.container {
  display: flex;
  width: 100%;
}

.header-content h2.logo {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
  font-size: 2rem;
  padding: 1.5rem 0 0 7.5rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  width: 40%;
  height: 100%;
}

.chamada {
  position: relative;
  left: 0%;
}

.chamada h2 {
  font-weight: 700;
  font-size: 30px;
}

.chamada p {
  font-weight: bold;
  font-size: 50px;
}

.header-content button {
  width: 150px;
  height: 50px;
  background-color: var(--laranja);
  color: white;
  font-weight: 500;
  letter-spacing: 1.2px;
  border: 0;
  cursor: pointer;
  margin-top: 5%;
}

.header-content button:hover {
  background-color: var(--laranja-fonte);
}

.header-content2 {
  background-image: url("../img/prato-9.jpg");
  background-color: rgb(243, 243, 243);
  background-position: left;
  background-size: 95% 100%;
  background-repeat: no-repeat;
  width: 60%;
  height: 100%;
}

.header-content h2 span {
  color: var(--laranja-fonte);
}

ul {
  display: flex;
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
}

ul li {
  padding: 30px;
}

ul li a {
  font-size: 20px;
  font-weight: bolder;
  color: var(--fonte-padrao);
  text-decoration: none;
  text-shadow: 2px 3px 9px black;
}

.social-media {
  width: 100%;
  margin-top: 100px;
}

.social-media ul i {
  padding: 12px;
  cursor: pointer;
}

.social-media ul i:hover {
  color: var(--laranja-fonte);
}

/* ------------------section-about------------------------- */

section.about {
  width: 100%;
  height: 95vh;
  display: flex;
  background-color: rgb(243, 243, 243);
  align-items: center;
  justify-content: center;
}

.abt-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  position: relative;
  /* left: -7%; */
  bottom: -5%;
  /* margin-left: 10%; */
}

.div-pic {
  width: 50%;
  height: 400px;
  background-image: url("../img/prato-8.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  top: -10%;
}

.div-abt {
  width: 50%;
  height: 400px;
  background-color: var(--bg-color);
  display: block;
  text-align: right;
}

.div-abt h2 {
  color: var(--laranja-fonte);
  padding: 40px 3% 0 0px;
}

.div-abt h1 {
  color: white;
  padding: 10px 2% 0 0px;
  font-size: 34px;
  letter-spacing: 2px;
}

.div-abt p {
  color: white;
  /* text-align: right; */
  font-size: 14px;
  padding: 10px 4%;
  max-width: 600px;
}

.div-abt button {
  width: 150px;
  height: 50px;
  background-color: var(--laranja);
  color: white;
  font-weight: 500;
  letter-spacing: 1.2px;
  border: 0;
  cursor: pointer;
  margin: 10px 2% 0 40px;
}

.div-abt button:hover {
  background-color: var(--laranja-fonte);
}

.ball {
  width: 250px;
  height: 250px;
  background-image: linear-gradient(orange, var(--laranja));
  border-radius: 50%;
  position: absolute;
  left: -70px;
  top: 0px;

  z-index: 1;
}

footer {
  width: 100%;
  background-color: white;
  text-align: center;
}

/* ------------------- Menu ------------------------------ */

.menu-wraper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bg {
  display: block;
  width: 1400px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.menu-title {
  display: block;
  position: relative;
  top: 40px;
  width: 100%;
  height: 200px;
}

.menu-title h2 {
  font-size: 30px;
  padding: 4% 0 2% 0;
  color: var(--laranja-fonte);
}

.menu-title h1 {
  color: var(--fonte-padrao);
}

.menu-cnt {
  margin: 0 auto;
  margin-top: 70px;
  width: 90%;
  height: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;
}

.content1 {
  width: 100%;
  height: 100%;
}

.content2 {
  width: 100%;
  height: 100%;
}

.content3 {
  width: 100%;
  height: 100%;
}

.content4 {
  width: 100%;
  height: 100%;
}

.menu-cnt h2 {
  color: var(--laranja-fonte);
  font-weight: 800;
  padding: 10px 2% 0 30px;
}

.menu-cnt p {
  padding: 30px 2% 0 30px;
}

.menu-cnt span {
  color: rgb(187, 184, 184);
  padding: 30px 2% 0 30px;
}

.ball-menu {
  width: 500px;
  height: 480px;
  background-image: linear-gradient(orange, var(--laranja));
  border-radius: 50%;
  position: absolute;
  top: -220px;
  right: -170px;
}

/* ---------------------section-browse---------------------------- */

body.menu {
  overflow-x: hidden;
}

section.browse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
}

.browse .info {
  text-align: left;
  padding: 50px 0 10px 20px;
}

.info h2 {
  font-size: 30px;
  padding-left: 50px;
  color: var(--laranja-fonte);
}

.info h1 {
  font-size: 40px;
  padding: 10px 0 0 50px;
  color: var(--fonte-padrao);
}

.info ul {
  display: flex;
  justify-content: center;
  width: 80%;
  font-size: 25px;
  color: var(--fonte-padrao);
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 70%;
  height: 500px;
  margin: 0 auto;
}

.pic-wrap {
  border: 5px solid white;
  transition: 0.4s;
}

.pic-wrap:hover {
  outline: 4px solid var(--laranja-fonte);
  outline-offset: -9px;
}

.gallery .pic1 {
  width: 100%;
  height: 100%;
  background-image: url("../img/prato-3.jpeg");
  background-position: center;
}

.gallery .pic2 {
  width: 100%;
  height: 100%;
  background-image: url("../img/prato-4.jpg");
  background-position: center;
}

.gallery .pic3 {
  width: 100%;
  height: 100%;
  background-image: url("../img/prato-2.jpg");
  background-position: center;
}

.gallery .pic4 {
  width: 100%;
  height: 100%;
  background-image: url("../img/prato-6.jpg");
  background-position: center;
}

.menu-bg button {
  width: 150px;
  height: 50px;
  background-color: var(--laranja);
  color: white;
  font-weight: 500;
  letter-spacing: 1.2px;
  border: 0;
  cursor: pointer;
  margin-top: 1%;
  position: relative;
  right: -28%;
}

/* =====================MEDIA-QUERIES====================== */

@media (max-width: 1300px) {
  .header-content h2.logo {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 900;
    font-size: 2rem;
    padding: 1.5rem 0 0 7.5rem;
  }

  .header-content {
    display: flex;
    text-align: center;
    align-items: center;
  }

  .social-media {
    display: flex;
    justify-items: center;
    width: 100%;
    margin-top: 100px;
  }

  .social-media ul {
    display: flex;
    justify-content: center;
  }

  .ball {
    position: absolute;
    top: 0;
    left: -100px;
    width: 20%;
    height: 30vh;
  }

  .abt-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14%;
    width: 100%;
    height: 100%;
    position: relative;
    left: -7%;
    bottom: -5%;
  }
}

@media screen and (max-width: 1000px) {
  .ball {
    height: 20vh;
  }
}

@media screen and (max-width: 900px) {
  .header-content {
    display: flex;
    text-align: center;
    padding: 0 8%;
    align-items: center;
  }

  .chamada h2 {
    font-weight: 700;
    font-size: 20px;
  }

  .chamada p {
    font-weight: bold;
    font-size: 40px;
  }

  .header-content2 ul li a {
    font-size: 15px;
  }
}

/* =====================MEDIA-QUERIES-Menu====================== */

@media screen and (max-width: 980px) {
  .menu-cnt p {
    font-size: 14px;
    padding: 0;
  }

  .info ul li {
    font-size: 20px;
  }
}

@media screen and (max-width: 870px) {
  .menu-cnt {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
  }

  .ball-menu {
    width: 400px;
    height: 380px;
  }

  .info ul li {
    font-size: 20px;
    padding: 9px 10px;
  }
}
